{% load static %}
<html>
<head>

<title>Medical Symptom Analyser</title>

<link rel="stylesheet" href="{% static 'Med/css/bootstrap.css' %}">
<link rel="stylesheet" href="{% static 'Med/css/style.css' %}">

</head>

<body>
<div class="title">

	<div class="row">
		<div class="col-lg-8">
			<h1>Symptom Analyser</h1>
	
			<p>Obtain medical diagnosis details and potential treatment solutions just by selecting your medical symptoms!</p>
		</div>
		<div align="right" style="padding: 25px;" class="col-lg-4">

			{% if request.user.username %}
				<span style="color: darkblue;padding: 5px;">{{request.user.username}}</span>
				<br>
				<a style="color:#101010;background-color: white;padding:5px;border-radius: 5px;" href="{% url 'logout' %}">LOGOUT</a>
			{% endif %}
		</div>
	</div>
	
	
</div>
{% block base_block %}
{% endblock %}
</body>


</html>