{% extends 'Med/base.html' %}

{% load static %}


{% block base_block %}





<br>
<br>


<div align="center">
	<h2 class="display-5">LOGIN TO CONTINUE</h2>
</div>

<div align="center" class="login-register-panel">
	<form method="POST">
		{% csrf_token %}
		{{form.as_p}}
		<br><br>
		<input type="submit" value="submit">
	</form>
	{{login_status}}
</div>

<!-- <div class="symptom_list_container">
	<div class="row">
		{% for x,y in symptom_list.items %}
		<div class="col-lg-3" align="center">
			<a href="{% url 'symptom_page' x %}">
			<div class="symptom_container" align="center">
				{{y}}
			</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div> -->


{% endblock %}