{% extends 'Med/base.html' %}

{% load static %}


{% block base_block %}

<div align="center">
	<h2 class="display-5"><br>Treatment Instructions</h2><br>
</div>

<div align="center" class="get_diagnosis_container">
<h4>{{issue_object.issue_name}}</h4>
<h5>({{issue_object.issue_profName}})</h5>
<hr>
<h5>SPECIALISTS:</h5>
<p>
{{issue_object.specialist_one}}<br>
{{issue_object.specialist_two}}<br>
{{issue_object.specialist_three}}<br>
</p>
<h5>TREATMENT: </h5>
<p>{{issue_object.treatment_details}}</p>
<br>
<h5>NEARBY DOCTORS: </h5>
{% if req_doc_details_total %}
	{% for doc in req_doc_details_total %}
		<hr>
		<h6 class="display-6">{{doc.name}}</h6>
		<p>{{doc.vicinity}}</p>
		{% if doc.rating == 0 %}
			<h6 class="display-6">RATING: No rating information</h6>
		{% else %}
			<h6 class="display-6">RATING: {{doc.rating}}</h6>
		{% endif %}
	{% endfor %}
{% else %}
	<p>No doctors in your vicinity!</p>
{% endif %}

</div>


{% endblock %}