
.symptom_container{
	background-color: white;
	padding: 5px;
	border: 1px solid skyblue;
	width: 95%;
	height:50px;
	margin:10px 10px 10px 10px;
	color: #101010;
	font-family: Verdana;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.symptom_container:hover{
	background-color: #202020;
	color: white;
	border: 1px solid black;
}

.symptom_list_container{
	margin:20px;
	padding: 25px;
	border: 5px solid #303030;
	overflow-y: scroll;
	height:60%;
	width:75%;
	margin: auto;
}

.title{
	background-color: #104EB2;
	padding: 25px;
	color: #fff;
}

a:hover{
	text-decoration: none;
}

.get_diagnosis_container{
	width: 50%;
	padding: 25px;
	border: 5px solid #303030;
	margin-bottom: 20px;
	margin-left: 25%;
	margin: auto;
}


.diagnosis_details_container{
	background-color: white;
	padding: 5px;
	border: 3px solid #101010;
	width: 95%;
	
	margin:10px 10px 10px 10px;
	color: #202020;
	font-family: Verdana;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.diagnosis_list_container{
	margin:20px;
	padding: 25px;
	border: 5px solid white;
}

.treatment_button{
	margin: 5px 5px 5px 5px;
}


/*STYLE FOR REGISTRATION APP BEGINS*/

.login-register-panel{
	background-color: white;
	padding: 20px;
	border: 3px solid #101010;
	width: 15%;
	margin:auto;
	color: #202020;
	font-family: Verdana;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}